# the envirnoment variable
.env

.env.development
.env.production

# Ignore __pycache__ directories
__pycache__/

# Ignore all .pyc files
*.pyc

# Ignore other common Python artifacts (optional, based on your needs)
*.pyo
*.pyd